/* Your button CSS file */
.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: color 0.2s ease;
}

.btn-treehouse {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background-color 0.3s ease;
}

.btn-yours {
  color: #0f0815;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50%;
  font-weight: lighter;
  opacity: 0.6;
  transition: background-color 0.3s ease;
}
a {
  text-decoration: none;
}
.btn-medium:hover {
  color: rgb(60, 58, 58);
}

.btn-treehouse:hover {
background-color: #07cf46;
}

.btn-yours:hover {
  background-color: #c6ddcd;
}

.text-center {
  display: block;

}
.a-container a {
  display: inline-block;
}
